################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PowerSupplyManager/.vs/PowerSupplyManager/v15
/PowerSupplyManager/bin/Debug
/PowerSupplyManager/obj/Debug
